@using Microsoft.AspNetCore.Authorization
@using Shared.Models
@page "/Prueba"
@* @attribute [StreamRenderingMode(true)] *@
@inject HttpClient httpClient

<h3>Prueba</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comida in Comidas)
        {
            <tr>
                <td>@comida.TipoComidaId</td>
                <td>@comida.Tipo</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<TiposComidas> Comidas { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Comidas = await httpClient.GetFromJsonAsync<List<TiposComidas>>("api/TiposComidas") ?? new List<TiposComidas>();
    }
}
