@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Olvidaste la confirmación de la contraseña</PageTitle>

<h1>Olvidaste la confirmación de la contraseña</h1>
<p>
    Por favor, revise su correo electrónico para restablecer su contraseña.
</p>
