@page "/Account/ResetPasswordConfirmation"
<PageTitle>Restablecer confirmación de contraseña</PageTitle>

<h1>Restablecer confirmación de contraseña</h1>
<p>
    Su contraseña ha sido restablecida. Por favor <a href="Account/Login">Haga clic aquí para iniciar sesión</a>.
</p>
