@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<AuthorizeView Roles ="Admin">
    <h1>You are authenticated</h1>
</AuthorizeView>

<AuthorizeView >
    Hello @context.User.Identity?.Name!
</AuthorizeView>
